$icon-font-path: '/assets/bootstrap/';
//noinspection CssUnknownTarget
@import 'ember-cli-bootstrap3-sass';
//noinspection CssUnknownTarget
@import "ember-cli-font-awesome-sass";

body {
  padding-top: 70px; // for the fixed navbar
  //margin-bottom: 50%; // to allow scrolling beyond the end of the last example
}

p.p-addon-badges {
  img {
    padding-bottom: 5px;
  }
}
