<fieldset>
  <legend>
    <span class="label label-warning pull-right">
      {{decimal-format result}}ms
    </span>
    ember-intl
  </legend>
  <div class="alert alert-warning">
    {{#link-to "performance.index" class="pull-right"}}
      <i class="fa fa-refresh"></i>
      Reset
    {{/link-to}}
    <p>
      Using Ember-Intl's <code>format-date</code> helper:
      <br/>
      <code>\{{format-date date day="numeric" hour="numeric" minute="numeric" month="long" weekday="long"
        year="numeric"}}</code>
    </p>
    <p>

    </p>
  </div>
  {{#each model.dates as |date|}}
    <p>{{format-date date day="numeric" hour="numeric" minute="numeric" month="long" weekday="long" year="numeric"}}</p>
  {{/each}}
</fieldset>
