<fieldset>
  <legend>
    <span class="label label-success pull-right">
      {{decimal-format result}}ms
    </span>
    ember-helper-locale-date
  </legend>
  <div class="alert alert-success">
    {{#link-to "performance.index" class="pull-right"}}
      <i class="fa fa-refresh"></i>
      Reset
    {{/link-to}}
    <p>
      Using:
      <br/>
      <code>\{{date-format-llll date}}</code>
    </p>
    <p>
      This is akin to reusing the <code>Intl.DateTimeFormat</code> instance {{decimal-format model.dates.length}} times.
    </p>
  </div>
  {{#each model.dates as |date|}}
    <p>{{date-format-llll date}}</p>
  {{/each}}
</fieldset>