<fieldset>
  <legend>
    <span class="label label-default pull-right">Render Time</span>
    Results Appear Here
  </legend>
  <p>
    Click one of the <em>Render With...</em> formatter buttons and we'll go format all those dates with the chosen
    helper.
  </p>
</fieldset>
