{{twbs-navbar class="navbar-default navbar-fixed-top" organizationName="cybertoothca"
              packageName="ember-helper-locale-date"}}

{{outlet}}

<hr>

<footer>
  <div class="container">
    <p class="text-center">built with <code>ember-helper-locale-date-{{app-version hideSha=true}}</code></p>
  </div>
</footer>